.content {
    min-height: calc(100vh - 70px);
  }
.footer {
    height: 50px;
    background-color: red;
  }
button{
    border-radius: 50%;
   text-align: center;
   height: 100px;
   width: 100px;
   background-color: rgb(37, 91, 216);
  }
  #center{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
